<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        <!-- 插值语法 -->
        <!-- 全名：<span>{{firstName}}-{{lastName}}</span> -->
        <!-- methods方法 -->
        全名：<span>{{aa1()}}</span>
    </div>

    <script src="../../js/Vue.js"></script>
    <script>
        let vm = new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'黎',
            },
            methods:{
                aa1(){
                    return this.firstName + '-' + this.lastName
                }
            }
        })
    </script>
</body>
</html>